body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("assets/web_element.png");
	background-size: auto;
	margin: 0;
	width: 100%;
}

.stein {
	position: absolute;
	top: 40px;
	font-size: 8px;
	color: black;
	text-shadow: 2px 4px rgb(184, 56, 56);
	animation: glitter 3s linear infinite;
	z-index: 2;
}

@keyframes glitter {
	0%,
	100% {
		color: rgb(230, 155, 200);
		text-shadow: 1px 1px 2px #1ab3f5, -1px -1px 2px #1ab3f5,
			1px -1px 2px #1ab3f5, -1px 1px 2px #1ab3f5;
	}
	20% {
		color: rgb(231, 137, 44);
		text-shadow: 2px 2px 3px #1ab3f5, -2px -2px 3px #1ab3f5,
			2px -2px 3px #1ab3f5, -2px 2px 3px hsl(223, 92%, 54%);
	}
	40% {
		color: rgb(187, 18, 213);
		text-shadow: 3px 3px 4px #ffd700, -3px -3px 4px #ffd700,
			3px -3px 4px #ffd700, -3px 3px 4px #ffd700;
	}
	60% {
		text-shadow: 4px 4px 5px #ffd700, -4px -4px 5px #ffd700,
			4px -4px 5px #ffd700, -4px 4px 5px #ffd700;
	}
	80% {
		color: black;
		text-shadow: 5px 5px 6px #ffd700, -5px -5px 6px #ffd700,
			5px -5px 6px #ffd700, -5px 5px 6px #dbd8c8;
	}
}

@media screen and (min-width: 800px) {
	body {
		width: 100vw;
		background-image: url("assets/web_element.png");
	}
	.stein {
		font-size: 22px;
	}
}

@media screen and (min-width: 700px) {

	body {
		width: 100vw;
		background-image: url("assets/web_element.png");
	}
	.stein {
		font-size: 12px;
	}
}
